html {font-family: cursive,"メイリオ";}
body>header {background-color: lightseagreen; position: relative;}
#appTitle {font-size: 50pt; text-align: center; font-family: cursive,fantasy,Comic,Sans MS; color: white; margin: 0 auto; padding: 2%;}
hr.noneHR { border: none; margin: 1em;}
/* ユーザーページボタン */
#userPage { display: inline-block; padding: 0.2em 0.5em; text-decoration: none; color: white; 
    transition: .4s; position: absolute; font-size: 10pt; right: 1%; top: 25%;}
#userPage:hover {color: #000;}
#userAccount{font-size: 50pt; vertical-align: text-bottom; margin: 0 5px 0 0;}
/* タブ */
body>section{ line-height: 30pt;}
body>section#tavNavigate>ul{display: block; float: left; margin: 0px; padding: 0px; list-style: none; overflow: hidden; width: 15%;
    background: lightseagreen; font-size: 15pt; font-family: cursive,fantasy,Comic,Sans MS;}
body>section#tavNavigate>ul>li{border-bottom: 1px solid #000; margin-bottom: 1px; text-align: left; padding: 0px;}
body>section#tavNavigate>ul>li:last-child{ margin-bottom: 0px; border-bottom: 0px;}
body>section#tavNavigate>ul>li>a{ display: block; font-size: 14pt; color: #fff; text-decoration: none; padding: 7%;
    background: lightseagreen; background: -webkit-linear-gradient(top,#444,#333); background: -moz-linear-gradient(top,#444,#333); }
body>section#tavNavigate>ul>li>a.selected{ background: #fff; color: #000; }
#tavNavigate div article{ display: none; margin: 0px; color: #555; }
/* body */
.body { margin-left: 15%;}
/* アイコン */
span.material-icons{ font-size: 20pt; vertical-align: text-bottom; margin: 0 5px 0 0;}